spring:
  application:
    name: tripslog

  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema.sql

  thymeleaf:
    enabled: true
    prefix: classpath:/templates/
    suffix: .html
    cache: false
    encoding: UTF-8

  data:
    mongodb:
      host: ${MONGODB_HOST}
      port: ${MONGODB_PORT:27017}
      database: ${MONGODB_DATABASE}
      username: ${MONGODB_USERNAME}
      password: ${MONGODB_PASSWORD}
      authentication-database: ${MONGODB_AUTH_DB:${MONGODB_DATABASE}}

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MariaDBDialect
    naming-strategy: org.springframework.boot.orm.jpa.SpringNamingStrategy
