# --------------------------------------------------------
# Chart Config
# --------------------------------------------------------

nameOverride: ""
fullnameOverride: ""

# --------------------------------------------------------
# APP (Spring Boot Application)
# --------------------------------------------------------

replicas: 1

image:
  repository: "ghcr.io/rezakaramad/tripslog"
  tag: "42aea4c308d9103031b321f3560a018cb36976e6"
  pullPolicy: IfNotPresent

containerPort: 8080

service:
  type: ClusterIP
  port: 8080

logging:
  root: INFO

envConfigMap: false

volumes: []
volumeMounts: []

resources: {}

nodeSelector: {}
affinity: {}
tolerations: []

appConfig: ""

# --------------------------------------------------------
# DATABASE (MariaDB)
# --------------------------------------------------------

mongodb:
  image:
    repository: "mongodb/mongodb-community-server"
    tag: "latest"
    pullPolicy: IfNotPresent
  port: 27017
  replicas: 1

  auth:
    existingSecret: ""

  envConfigMap: false

  persistence:
    enabled: true
    size: 5Gi
    storageClass: ""
    accessModes:
      - ReadWriteOnce

    hostPathEnabled: false
    hostPath: "/data/db"

  probes:
    liveness:
      enabled: false
      exec:
        command:
          - mongosh
          - -u
          - $(MONGO_INITDB_ROOT_USERNAME)
          - -p
          - $(MONGO_INITDB_ROOT_PASSWORD)
          - --authenticationDatabase
          - admin
          - --quiet
          - --eval
          - "db.runCommand({ ping: 1 }).ok"
      initialDelaySeconds: 30
      timeoutSeconds: 5
      periodSeconds: 10
      failureThreshold: 6

    readiness:
      enabled: true
      exec:
        command:
          - mongosh
          - -u
          - $(MONGO_INITDB_ROOT_USERNAME)
          - -p
          - $(MONGO_INITDB_ROOT_PASSWORD)
          - --authenticationDatabase
          - admin
          - --quiet
          - --eval
          - "db.runCommand({ ping: 1 }).ok"
      initialDelaySeconds: 10
      timeoutSeconds: 3
      periodSeconds: 5
      failureThreshold: 3

    startupProbe: null